
@{
    Layout = "_Layout";
    var item = (SecurityService.Models.View.Service)null;
    @if (ViewData["service"] != null)
    {
        item = (SecurityService.Models.View.Service)ViewData["service"];
    }
}
<style>
    .container {
        padding: 40px 0 50px;
    }

    .swiper-container1 {
        display: none;
    }

    .myNav {
        padding: 15px;
        position: sticky;
        background: black;
    }

    .mannegduarding {
        background: url(@Url.Content("~/img/mannedguard1.jpeg"));
        height: 50vh;
        background-size: cover;
        background-position: center;
    }

    .mannedguarding-title-background {
        position: relative;
        height: 100%;
        background: rgba(0,0,0,0.4);
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
    }

    .mannedguardingg-title {
        position: relative;
        top: 50%;
        justify-content: center;
        transform: translate(0%, -50%);
        align-items: center;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
    }

        .mannedguardingg-title h1 {
            font-size: 70px;
            filter: drop-shadow(2px 0px 1px #fff);
        }

    .mannegduarding-2 {
        background: url(../img/mannedguard2.jpg);
        height: 50vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .mannedguarding-title-background-2 {
        position: relative;
        height: 100%;
        background: rgba(0,0,0,0.4);
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
    }

    .mannedguardingg-title-2 {
        position: relative;
        top: 50%;
        justify-content: center;
        transform: translate(0%, -50%);
        align-items: center;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
    }

        .mannedguardingg-title-2 h1 {
            font-size: 70px;
            filter: drop-shadow(2px 0px 1px #fff);
        }

    .swiper-container3 {
        width: 100%;
    }

    .swiper-slide3 {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .emp-content {
        position: relative;
        overflow: hidden;
        bottom: -180px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.3);
        background: rgba(255,255,255,1);
        padding: 20px;
        border-radius: 10px;
        transition: 0.3s;
    }

    .emp-detail:hover .emp-content {
        bottom: 180px;
    }

    .client-detail ul {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
        column-gap: 20px;
    }

    .client-detail li {
        width: 200px;
        height: 150px;
        list-style: none;
    }

        .client-detail li img {
            width: 100%;
            position: relative;
            top: 50%;
            transform: translate(0,-50%);
        }
</style>
<div style="padding:10px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Our Services</li>
            <li class="breadcrumb-item active" aria-current="page">
                @Html.Raw(item.name)
            </li>
        </ol>
    </nav>
    <div class="mannegduarding" style="background-image: url('@Url.Content("~/img/"+item.image)')">
        <div class="mannedguarding-title-background">
            <div class="mannedguardingg-title">
                <h1>
                    @Html.Raw(item.name)
                </h1>

                <h5>
                    Also known as security guards, security officers, security personnel.

                </h5>


            </div>

        </div>

    </div>
</div>
<div class="container" id="content_service">
    @Html.Raw(item.description)
</div>
<div class="swiper-container swiper-container3">
    <div class="swiper-wrapper " id="showing">




    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<div style="padding:20px 0 20px ; background-color: #f5f5f7;">
    <div class="mannegduarding-2">
        <div class="mannedguarding-title-background-2">
            <div class="mannedguardingg-title-2">
                <h1> Our Clients  </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="client-detail ">
        <ul>
            <li><img src="@Url.Content("~/img/client1.png")" /></li>
            <li><img src="@Url.Content("~/img/client2.png")" /></li>
            <li><img src="@Url.Content("~/img/client3.png")" /></li>
            <li><img src="@Url.Content("~/img/client4.png")" /></li>
            <li><img src="@Url.Content("~/img/client5.png")" /></li>
            <li><img src="@Url.Content("~/img/client6.png")" /></li>
            <li><img src="@Url.Content("~/img/client7.png")" /></li>
            <li><img src="@Url.Content("~/img/client8.png")" /></li>
        </ul>
    </div>
</div>